/* Estilos generales y reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #fff;
    color: #0091f9;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-img, .home-logo {
    height: 50px;
    width: auto;
}

.navigation-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.navigation-menu li {
    margin-left: 15px;
}

.nav-link {
    color: #0091f9;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}

.hero {
    position: relative;
    max-width: 100%;
    min-width: 250px;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.hero-text, .hero-subtext {
    color: white;
}

.hero-text {
    font-size: 2.5rem;
}

.hero-subtext {
    font-size: 1.2rem;
    max-width: 80%;
}

footer {
    background-color: #1c92e7;
    color: white;
    text-align: center;
    padding: 10px 10%;
    min-width: 300px;
}
.footer-content {
    margin-top: 0px; /* Empuja el contenido al final del footer */
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

.profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.about-content {
    max-width: 600px;
}

.about h1, .about p {
    color: #333;
}

.about p {
    font-size: 16px;
}

.about-details {
    background-color: #fff;
    padding: 15px;
    border-left: 5px solid green;
}

.timeline {
    background-color: #eee;
    padding: 10px;
    margin-top: 0px;
}

.profile-img {
    width: 140px; /* Ajusta el tamaño según necesites */
    height: 140px;
    border-radius: 30%; /* Esto hace que la imagen sea redonda */
    object-fit: cover; /* Esto asegura que la imagen cubra todo el espacio sin distorsionarse */
    border: 3px solid #fff; /* Opcional: añade un borde */
}

.linkedin-profile {
    display: inline-block;
    background-color: #0077b5;
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0px;
}

.linkedin-profile:hover {
    background-color: #005691;
}

.services-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
}

.service {
    width: 22%; /* Ajusta según la cantidad de servicios y el espacio deseado */
    text-align: center;
}

.service img {
    width: 80px; /* Ajusta el tamaño de los iconos */
    height: 80px;
    margin-bottom: 10px;
}

.service h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

.service p {
    font-size: 14px;
    padding: 0 10px; /* Padding para no tocar los bordes del contenedor */
}

.input-field, .textarea-field {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 16px;
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.boton-enviar {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.boton-enviar:hover {
    background-color: #004494;
}

.formulario-contacto {
    max-width: 500px;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.project-card {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 30%;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-card h2 {
    color: #333;
    font-size: 18px;
}

.project-card p, .project-card ul {
    color: #666;
    font-size: 16px;
}

.project-card ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    .navigation-menu ul {
        flex-direction: column;
        padding: 10px 0;
    }

    .navigation-menu li {
        margin: 5px 0;
    }
    
    .about {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .about-content {
        max-width: 100%;
        margin-top: 20px;
    }

    .service {
        width: 100%; /* Ajusta el ancho de los servicios para dispositivos pequeños */
        margin-bottom: 20px;
        text-align: center; /* Centra el texto en dispositivos pequeños */
    }

    .service img {
        margin: 0 auto 10px; /* Centra las imágenes en dispositivos pequeños */
    }

    .project-card {
        width: 100%; /* Ajusta el ancho de las tarjetas de proyectos para dispositivos pequeños */
        margin-bottom: 20px;
        padding: 10px; /* Reducir el relleno de las tarjetas de proyectos para dispositivos pequeños */
    }

    .project-card h2 {
        font-size: 16px; /* Reducir el tamaño de fuente de los títulos de proyectos para dispositivos pequeños */
    }

    .project-grid {
        padding: 10px; /* Reducir el relleno de la cuadrícula de proyectos para dispositivos pequeños */
    }
}
/* Media Queries */
@media (max-width: 768px) {
    .hero-text {
        font-size: 2rem; /* Reducir el tamaño del texto del héroe para dispositivos pequeños */
    }

    .hero-subtext {
        font-size: 1rem; /* Reducir el tamaño del subtexto del héroe para dispositivos pequeños */
        max-width: 90%; /* Ajustar el ancho máximo del subtexto para dispositivos pequeños */
    }
}
.linkedin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
